/.cache/
/.pytest_cache/

/build/
/dist/
/*.egg-info/

*.py[cdo]

.DS_Store
.idea/
.vscode/tasks.json
sampleImages/boat1.json
sampleImages/boat1.png
sampleImages/boat2.json
sampleImages/test.png
sampleImages/th_barbara.png
sampleImages/test.json
sampleImages/th_barbara_16.json
sampleImages/th_barbara_16.png
