/.cache/
/.pytest_cache/

/build/
/*.egg-info/

*.py[cdo]

.DS_Store
.idea/
.vscode/tasks.json
sampleImages/boat1.json
sampleImages/boat1.png
sampleImages/boat2.json
sampleImages/test.png
sampleImages/th_barbara.png
sampleImages/test.json
sampleImages/th_barbara_16.json
sampleImages/th_barbara_16.png
labelme/utils/timeit_test.py
outpufile_calls.txt
dist/labelme_with_tflite.exe
labelme/utils/test.ipynb
dist/labelme_with_tflite.exe
dist/labelme.exe
dist/main/*
output_time.txt
output.dat
.vscode/settings.json
dist/labelme_old.exe
dist/labelme_with_perf.exe
dist/output_time.txt
dist/output.dat
labelme/utils/readAWR_bmp.py
